<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(../../assets/images/image_bg1.png);">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">350.000đ</span>
                <h2>Wine | The Pooh</h2>
                <p>Xa thật xa, phía sau những ngọn núi, những cánh đồng cùng cơn gió mùa hạ, nơi cánh đồng trên đồi
                  xanh. Anh vẫn chờ em...</p>
                <p><a [routerLink]="['/order']" class="btn btn-primary btn-outline btn-lg">Mua Ngay</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(../../assets/images/image_bg2.png);">
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">250.000đ</span>
                <h2>The First New Universe</h2>
                <p>Khi yêu, tưởng rằng người đó là cả cuộc đời mình, ai ngờ vừa tỉnh giấc mộng, đã đứng bên cạnh một
                  người khác...</p>
                <p><a [routerLink]="['/product']" class="btn btn-primary btn-outline btn-lg">Mua Ngay</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(../../assets/images/image_bg3.png);">
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">150.000đ</span>
                <h2>All the letter i should sent | Raina Vains</h2>
                <p>Chờ đợi vốn không phải là điều đáng sợ, điều đáng sợ là không biết phải chờ đợi đến bao giờ...</p>
                <p><a [routerLink]="['/product']" class="btn btn-primary btn-outline btn-lg">Mua Ngay</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(../../assets/images/image_bg4.png);">
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">175.000đ</span>
                <h2>The Wave</h2>
                <p>-Người ta vô tình vẽ hoa, vẽ lá.
                  <br>
                  -Tôi đa tình tưởng đấy là mùa xuân.
                </p>
                <p><a [routerLink]="['/product']" class="btn btn-primary btn-outline btn-lg">Mua Ngay</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(../../assets/images/image_bg5.png);">
        <div class="container">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
            <div class="slider-text-inner">
              <div class="desc">
                <span class="price">450.000đ</span>
                <h2>The Psychology of Money</h2>
                <p>Hành trình vạn dặm khởi đầu từ bước chân đầu tiên.</p>
                <p><a [routerLink]="['/product']" class="btn btn-primary btn-outline btn-lg">Mua Ngay</a></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>

<div id="fh5co-services" class="fh5co-bg-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 text-center">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="icon-credit-card"></i>
          </span>
          <h3>Thanh toán tiện lợi</h3>
          <p>Thanh toán online và trực tiếp. Cực kỳ tiện lợi, nhanh chóng. Chấp nhận mọi loại phương thức thanh toán của
            quý khách hàng.</p>
          <p><a href="#" class="btn btn-primary btn-outline">Xem thêm</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="icon-wallet"></i>
          </span>
          <h3>Tiết kiệm</h3>
          <p>Giảm giá 15% cho khách hàng mua sản phẩm lần đầu tiên tại shop. 10 Đơn hàng sau giảm giá 5%. Khách hàng
            thiết nhận nhiều ưu đãi </p>
          <p><a href="#" class="btn btn-primary btn-outline">Xem thêm</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <div class="feature-center animate-box" data-animate-effect="fadeIn">
          <span class="icon">
            <i class="icon-paper-plane"></i>
          </span>
          <h3>Miễn phí vận chuyển</h3>
          <p>Miễn phí vận chuyển với khách hàng thân thiết, khách hàng tại nội thành. Khách hàng ngoại thành vận chuyển
            đồng giá 30k</p>
          <p><a href="#" class="btn btn-primary btn-outline">Xem thêm</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 6 sản phẩm bán chạy nhất -->
<div id="fh5co-product">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Sách hot trong tháng</span>
        <h2>Sản phẩm.</h2>
        <p>Các sản phẩm đang được mua nhiều nhất trong tháng. Hiện đang có nhiều quà tặng hấp dẫn khi mua sản phẩm của
          tháng</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center animate-box">
        <div class="product">
          <div class="product-grid" style="background-image:url(../../assets/images/product/product-1.png);">
            <span class="Specical">Specical</span>
            <div class="inner">
              <p>
                <a [routerLink]="['/product']" class="icon"><i class="icon-shopping-cart"></i></a>
                <a [routerLink]="['/product']" class="icon"><i class="icon-eye"></i></a>
              </p>
            </div>
          </div>
          <div class="desc">
            <h3><a [routerLink]="['/product']">Milk and Honey</a></h3>
            <span class="price">600.000đ</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center animate-box">
        <div class="product">
          <div class="product-grid" style="background-image:url(../../assets/images/product/product-2.png);">
            <span class="sale">Sale</span>
            <div class="inner">
              <p>
                <a [routerLink]="['/product']" class="icon"><i class="icon-shopping-cart"></i></a>
                <a [routerLink]="['/product']" class="icon"><i class="icon-eye"></i></a>
              </p>
            </div>
          </div>
          <div class="desc">
            <h3><a [routerLink]="['/product']">Economic Book Collection</a></h3>
            <span class="price">2.500.000đ</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center animate-box">
        <div class="product">
          <div class="product-grid" style="background-image:url(../../assets/images/product/product-3.png);">
            <span class="Limited">Limited</span>
            <div class="inner">
              <p>
                <a [routerLink]="['/product']" class="icon"><i class="icon-shopping-cart"></i></a>
                <a [routerLink]="['/product']" class="icon"><i class="icon-eye"></i></a>
              </p>
            </div>
          </div>
          <div class="desc">
            <h3><a [routerLink]="['/product']">antiquarian book</a></h3>
            <span class="price">Giá thỏa thuận</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center animate-box">
        <div class="product">
          <div class="product-grid" style="background-image:url(../../assets/images/product/product-4.png);">
            <div class="inner">
              <p>
                <a [routerLink]="['/product']" class="icon"><i class="icon-shopping-cart"></i></a>
                <a [routerLink]="['/product']" class="icon"><i class="icon-eye"></i></a>
              </p>
            </div>
          </div>
          <div class="desc">
            <h3><a [routerLink]="['/product']">A book full of hope</a></h3>
            <span class="price">250.000đ</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center animate-box">
        <div class="product">
          <div class="product-grid" style="background-image:url(../../assets//images/product/product-5.png);">
            <div class="inner">
              <p>
                <a [routerLink]="['/product']" class="icon"><i class="icon-shopping-cart"></i></a>
                <a [routerLink]="['/product']" class="icon"><i class="icon-eye"></i></a>
              </p>
            </div>
          </div>
          <div class="desc">
            <h3><a [routerLink]="['/product']">The kinfolk of table</a></h3>
            <span class="price">150.000đ</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center animate-box">
        <div class="product">
          <div class="product-grid" style="background-image:url(../../assets/images/product/product-6.png);">
            <div class="inner">
              <p>
                <a [routerLink]="['/product']" class="icon"><i class="icon-shopping-cart"></i></a>
                <a [routerLink]="['/product']" class="icon"><i class="icon-eye"></i></a>
              </p>
            </div>
          </div>
          <div class="desc">
            <h3><a [routerLink]="['/product']">Thinking, fast and slow</a></h3>
            <span class="price">250.000đ</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-testimonial" class="fh5co-bg-section">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <span>Testimony</span>
        <h2>Happy Clients</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row animate-box">
          <div class="owl-carousel owl-carousel-fullwidth">
            <div class="item">
              <div class="testimony-slide active text-center">
                <figure>
                  <img src="../../../assets/images/person1.jpg" alt="user">
                </figure>
                <span>Jean Doe, via <a href="#" class="twitter">Twitter</a></span>
                <blockquote>
                  <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                    there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                    Semantics, a large language ocean.&rdquo;</p>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="testimony-slide active text-center">
                <figure>
                  <img src="../../../assets/images/person2.jpg" alt="user">
                </figure>
                <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                <blockquote>
                  <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                    ocean.&rdquo;</p>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="testimony-slide active text-center">
                <figure>
                  <img src="../../../assets/images/person3.jpg" alt="user">
                </figure>
                <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                <blockquote>
                  <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they
                    live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(../../assets/images/img_bg_5.jpg);">
  <div class="container">
    <div class="row">
      <div class="display-t">
        <div class="display-tc">
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-eye"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="23049" data-speed="3000"
                data-refresh-interval="50">1</span>
              <span class="counter-label">Độc Giả</span>

            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-shopping-cart"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="1450" data-speed="3000"
                data-refresh-interval="50">1</span>
              <span class="counter-label">Khách Hàng</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-shop"></i>
              </span>
              <span class="counter js-counter" data-from="0" data-to="500" data-speed="3000"
                data-refresh-interval="50">1</span>
              <span class="counter-label">Sản Phẩm</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box">
            <div class="feature-center">
              <span class="icon">
                <i class="icon-clock"></i>
              </span>

              <span class="counter js-counter" data-from="0" data-to="15905" data-speed="3000"
                data-refresh-interval="50">1</span>
              <span class="counter-label">Hoạt Động</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>