<nav class="fh5co-nav navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2">
        <div id="fh5co-logo"><a href="admin">Dashboar</a></div>
      </div>
      <div class="col-md-6 col-xs-6 text-center menu-1">
        <ul>
          <li class="has-dropdown">
            <a href="admin">Product</a>
            <ul class="dropdown">
              <li><a href="admin">Best Seller</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="about.html">Chart</a></li>
          <li class="has-dropdown">
            <a href="services.html">Manager</a>
            <ul class="dropdown">
              <li><a href="#">Customer</a></li>
              <li><a href="#">Employee</a></li>
              <li><a href="#">Money</a></li>
              <li><a href="#">Adminstrator</a></li>
            </ul>
          </li>
          <li class="active"><a href="contact.html">FeedBack</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
        <ul>
          <!-- <button  class="btn btn-primary" (click)="search()">click me</button> -->
          <li class="fa-user-circle"><a href="#" class="cart"><span><small>0</small><i>Icon Account</i></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="fh5co-nav sidenav">
  <div style="margin-top: 50px;">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>


<div class="main">
  <div class="table" >
    <p>table list</p>
    <h1>Side bar long here</h1>
    <h2>admin information</h2>
    <h2>button setting and dropdown</h2>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
    <p>featurefeaturefeature</p>
  </div>

</div>