<nav class="fh5co-nav navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2">
        <div id="fh5co-logo"><a href="admin">Dashboar</a></div>
      </div>
      <div class="col-md-6 col-xs-6 text-center menu-1">
        <ul>
          <li class="has-dropdown">
            <a href="admin">Product</a>
            <ul class="dropdown">
              <li><a href="admin">Best Seller</a></li>
            </ul>
          </li>
          <li class="has-dropdown"><a href="about.html">Chart</a></li>
          <li class="has-dropdown">
            <a href="services.html">Manager</a>
            <ul class="dropdown">
              <li><a href="#">Customer</a></li>
              <li><a href="#">Employee</a></li>
              <li><a href="#">Money</a></li>
              <li><a href="#">Adminstrator</a></li>
            </ul>
          </li>
          <li class="active"><a href="contact.html">FeedBack</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
        <ul>
          <li class="fa-user-circle"><a href="#" class="cart"><span><small>0</small><i>Icon Account</i></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="fh5co-nav sidenav text-center">
  <div style="margin-top: 50px;">
    <a href="#">CustomerList</a>
    <a href="#">Services</a>
    <a href="#">Employees</a>
    <a href="#">Contact</a>
  </div>
</div>


<div class="main">
  <div class="table" >
    <div class="w3-col col-6">
      <table class="ws-table-all w3-border">
        <tbody><tr>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
        </tr>
      </tbody></table>
      </div>
    <div class="w3-col col-6">
      <table class="ws-table-all w3-border">
        <tbody><tr>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Age</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>80</td>
        </tr>
      </tbody></table>
      </div>
  </div>

</div>